<nav class="navbar fixed-bottom navbar-light bg-light d-block d-sm-none">
  <button mat-button routerLink="/home" routerLinkActive='active'><i class="bi bi-house-fill"></i></button>

  <button mat-button routerLink="/settings" routerLinkActive='active'><i class="bi bi-gear-fill"></i></button>
  <button mat-button routerLink="/builder" routerLinkActive='active'><i class="bi bi-tools"></i></button>

</nav>
