.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.container {
  height: 100%;
  z-index: 1;
}

#background-img {
  height: 100%;
  z-index: -1;
}
.row {
  height: 100%;
}
.center-vertical {
  margin-top: 20px;
  margin-bottom: auto;
}
#form {
  background-color: white;
  padding: 21px;
  border-radius: 15px;
}

h1,
p {
  text-align: center;
  display: inline-block;
  font-size: 15px;
}

#loginBtn {
  margin-top: 10px;
  height: 45px;
  border-radius: 25px;
}
p {
  margin-top: 6em;
}

span {
  margin-right: 5px;
}

#forgotPass {
  font-size: 12px;
  text-align: right;
  margin: 0;
  cursor: pointer;
}

.social-media {
  text-align: center;
}

i {
  margin: 10px;
}

#sing-up {
  cursor: pointer;
}

#unathorized {
  color: #9f6000;
  background-color: #feefb3;
  margin: 10px 0;
}

.box {
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
  padding-bottom: 10px;
}
div {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border: 10px;
}
.sign {
  margin-top: 10px;
}

h1 {
  font-size: 20px;
}
