<div id="background-img">
  <div class="container">
    <div class="row">
      <div class="col-md-4 offset-md-4 center-vertical">
        <div id="form " class="box">
          <h1>Login</h1>
          <div id="unathorized" *ngIf="(loginFailed$ | async).errorMessage">
            <i class="fa fa-warning"></i>
            Email or Password do not match.
          </div>
          <form [formGroup]="formGroup" (ngSubmit)="login()">
            <mat-form-field hideRequiredMarker>
              <span matPrefix> <i class="material-icons"> email </i> </span>
              <input
                matInput
                placeholder="Email"
                name="email"
                formControlName="email"
              />
              <mat-hint>test@test.com</mat-hint>
              <mat-error
                *ngIf="
                  formGroup.get('email').hasError('required') &&
                  (formGroup.controls['email'].touched ||
                    formGroup.controls['email'].dirty)
                "
              >
                Email is required.</mat-error
              >
              <mat-error *ngIf="formGroup.get('email').hasError('email')">
                You must enter a valid email.</mat-error
              >
            </mat-form-field>

            <mat-form-field hideRequiredMarker>
              <span matPrefix> <i class="material-icons"> lock </i> </span>
              <input
                type="password"
                matInput
                formControlName="password"
                placeholder="Password"
                name="userPassword"
              />
              <mat-hint>test123</mat-hint>
              <mat-error
                *ngIf="
                  !formGroup.controls['password'].valid &&
                  (formGroup.controls['password'].touched ||
                    formGroup.controls['password'].dirty)
                "
              >
                Password is required.</mat-error
              >
            </mat-form-field>

            <p (click)="forgotPassword()" id="forgotPass">Forgot password?</p>

            <button
              id="loginBtn"
              mat-raised-button
              color="primary"
              [disabled]="formGroup.invalid"
              type="submit"
            >
              LOGIN
            </button>
          </form>
          <p class="sign">Or Sign In Using</p>
          <div class="social-media">
            <a href="#">
              <i class="fab fa-facebook fa-3x"></i>
            </a>
            <a href="#">
              <i class="fab fa-twitter fa-3x"></i>
            </a>
            <a href="#">
              <i class="fab fa-google fa-3x"></i>
            </a>
          </div>
          <p class="sign">
            or <span id="sing-up" (click)="singUp()">SING UP</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
