<div class="row">
  <!-- <div class="col-md-2">
      <button type="submit" mat-raised-button color="primary">Init info</button>
      <button type="submit" mat-raised-button color="primary">Questions</button>
      <button type="submit" mat-raised-button color="primary">Save</button>
  </div>  -->
  <div class="col-md-10">
    <mat-card *ngIf="initInfoShow===true">
      <h1>Crate new test/quiz</h1>
      <form [formGroup]="formGroup" (ngSubmit)="setupClicked()">
        <div>
          <mat-form-field>
            <input type="text" matInput placeholder="Name" formControlName="name" />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <textarea name="" id="" cols="30" rows="10" matInput placeholder="Description"
              formControlName="description"></textarea>
          </mat-form-field>
        </div>
        <div>

          <mat-tree [dataSource]="nestedDataSource" [treeControl]="nestedTreeControl" class="example-tree">
            <!-- This is the tree node template for leaf nodes -->
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
              <li class="mat-tree-node">
                <!-- use a disabled button to provide padding for tree leaf -->
                <button type="button" mat-icon-button disabled></button>
                <mat-checkbox (change)="addToList(node.id)"> {{node.code}}</mat-checkbox>
              </li>
            </mat-tree-node>
          </mat-tree>
        </div>
        <div>
          <button type="submit" mat-raised-button color="primary">Continue</button>
        </div>
      </form>
    </mat-card>

    <mat-card *ngIf="initInfoShow===false &&reviewShow !== true">
      <app-question-wrapper (questionsValueChange)="questionsDone($event)">
      </app-question-wrapper>
    </mat-card>
    <mat-card *ngIf="reviewShow === true">
      <h1>Review your</h1>
      <section class="instance-properties">
        <h2>Review Information</h2>
      </section>
      <section class="instance-properties">
        <h2>Questions</h2>
        <div>
          <mat-accordion>
            <mat-expansion-panel *ngFor="let question of submitData.questions">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{question.questionText}}
                </mat-panel-title>
                <!-- <mat-panel-description>
                      Type your name and age
                    </mat-panel-description> -->
              </mat-expansion-panel-header>
              <div *ngFor="let answer of question.answer">
                {{answer.value}}
              </div>

            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </section>

      <button type="button" mat-raised-button color="primary" (click)="saveTestClick()">Save test</button>
    </mat-card>
  </div>
</div>