<form [formGroup]="formGroup" (ngSubmit)="submitClicked()">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Question</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <app-secional-question-editor formControlName="question"></app-secional-question-editor>
            <div *ngIf="formGroup.get('question')?.touched">
                <mat-error *ngIf="formGroup.get('question').errors?.required">Question is required</mat-error>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <div class="buttons-wrapper">
            <button mat-button (click)="addColumnClick()">Add Column</button>
        </div>
    </mat-card>
    <mat-card formArrayName="answers" class="column-wrapper">
        <div *ngFor="let column of answers.controls;let i =index" class="column">
            <div [formGroupName]="i">
                <h3><input matInput placeholder="Column Name" name="columnName" formControlName="columnName" /></h3>
                <div formArrayName="columnAnswers">
                    <div *ngFor="let answer of column.get('columnAnswers').controls;let j =index">
                        <div [formGroupName]="j">
                            <input matInput placeholder="Answer" name="answer" formControlName="answer" />
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </mat-card>
    <section>
        <div>
            <!-- <mat-checkbox formControlName="makeQuestionHard">Type answers</mat-checkbox> -->
        </div>
    </section>

</form>