
<mat-card>
    <h1>
        List of your tests:
      </h1>
      <table class="table">
        <thead>
          <tr>
            <th>
              
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let test of tests">
            <td>{{test.name}}</td>
            <td>{{test.id}}</td>
            <td><a [routerLink]="['/create/question/'+test.id+'/1']">Edit</a></td>
          </tr>
      
        </tbody>
      
      </table>
  </mat-card>