<section>
  <h1>Your answers: {{ percentage | percent }}</h1>
  <div *ngFor="let result of examResults">
    <app-section-presenter
      [contentSection]="result.questionSections"
      [userAnswer]="result"
    >
    </app-section-presenter>
    {{ result.correctAnswers[0] }}
    <span
      [ngStyle]="{
        color: result.correctAnswers[0] == result.userAnswer ? 'green' : 'red'
      }"
    >
      {{ result.userAnswer }}
    </span>
  </div>
</section>
