<mat-card>
  <h1>List of your tests:</h1>
  <ng-container *ngIf="(exams$ | async) != null; else spinner">
    <table class="table">
      <thead>
        <tr>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let exam of exams$ | async">
          <td>{{ exam.id }}</td>
          <td>{{ exam.title }}</td>
          <td>
            <a [routerLink]="['/builder/question/' + exam.id + '/1']">Edit</a>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container>
</mat-card>
<ng-template #spinner>
  <mat-spinner></mat-spinner>
</ng-template>
