<ng-container *ngIf="form$ | async as form">
  <app-question-wrapper
    *ngIf="form.questionModels; else errorNoQuestions"
    [questions]="form.questionModels"
    [examModelId]="form.id"
  >
  </app-question-wrapper>
</ng-container>
<ng-template #errorNoQuestions>
  No question setup, please create question
</ng-template>
