<section class="box" [ngClass]="{ 'is-selectable': isSelectable }">
  <h3>Files library</h3>
  <div>
    <app-uploader
      (uploadEvent)="uploadFileEvent($event)"
      [url]="'/api/file/upload'"
    ></app-uploader>
    <div *ngIf="uploadMessage" class="alert alert-success">
      {{ uploadMessage }}
    </div>
    <div *ngIf="files == null"><mat-spinner></mat-spinner></div>
    <div *ngIf="files?.length === 0">No files in Library</div>
    <div class="row file-wrapper">
      <div class="col-xl-3 file mb-3" *ngFor="let file of files">
        <div class="img-wrapper">
          <div class="buttons">
            <button (click)="removeClick(file)" mat-mini-fab>
              <mat-icon>remove</mat-icon>
            </button>
          </div>

          <img
            (click)="onImgClick(file)"
            [ngClass]="{ 'selected-img': selectedFile?.id === file.id }"
            [src]="file.filePath"
            alt="{{ file.fileName }}"
          />
        </div>

        {{ file.id }}
        <button (click)="copyToClipboardClick(file.guidName)" mat-button>
          {{ file.fileName }}
        </button>
      </div>
      <input style="visibility: hidden" class="js-copytextarea" />
    </div>
  </div>
</section>
