.file-input {
  display: none;
}


.file-wrapper {
  .file {
    .img-wrapper {
      position: relative;

      .buttons {
        position: absolute;
        top: 0
      }

      img {
        width: 100%;
        border: 1px solid gray;
        border-radius: 5px;
        padding: 1rem;
        height: 184px;

        &.selected-img {
          border: 3px solid #3f51b5;
        }
      }
    }
  }
}

.is-selectable {
  img {
    cursor: pointer;


  }
}
