<section [ngSwitch]="currentQuestion.questionType">
  <app-dnd-list-presenter
    *ngSwitchCase="AnswerType.LIST_DND"
    [currentQuestion]="currentQuestion"
    (answerEvent)="childAnswerChange($event)"
  >
  </app-dnd-list-presenter>
  <app-text-list-presenter
    *ngSwitchCase="AnswerType.LIST_TEXT"
    [currentQuestion]="currentQuestion"
    (answerEvent)="childAnswerChange($event)"
  >
  </app-text-list-presenter>
</section>
