.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.container{
  height: 100%;
  z-index: 1;
}

#background-img{
  height: 100%;
 background-color: coral;
 z-index: -1;
}
.row{
  height: 100%;
}
.center-vertical{
  margin-top: auto;
  margin-bottom: auto;
}
#form{
  background-color:white;
  padding:21px;
  border-radius: 15px;
}

h1,p{
  text-align: center;
}

#registerBtn{
  margin-top:15px;
  height: 45px;
  border-radius: 25px;
}
p{
  margin-top:6em;
}

span{
  margin-right: 5px;
}
i{
  margin: 10px;
}

