<div id="background-img">
  <div class="container">
    <div class="row">
      <div class="col-md-4 offset-md-4 center-vertical">
        <div id="form">
          <h1>Sing Up</h1>
          <form [formGroup]="registerForm" (ngSubmit)="registerNewUser()">
            <mat-form-field hideRequiredMarker>
              <span matPrefix> <i class="material-icons"> person </i> </span>
              <input matInput placeholder="First Name" name="firstName" formControlName="firstName" />
              <mat-error
                *ngIf="registerForm.get('firstName').hasError('required') && (registerForm.controls['firstName'].touched || registerForm.controls['firstName'].dirty)">
                First Name is required.</mat-error>
            </mat-form-field>
            <mat-form-field hideRequiredMarker>
              <span matPrefix> <i class="material-icons"> person </i> </span>
              <input matInput placeholder="Last Name" name="lastName" formControlName="lastName" />
              <mat-error
                *ngIf="registerForm.get('lastName').hasError('required') && (registerForm.controls['lastName'].touched || registerForm.controls['lastName'].dirty)">
                Last Name is required.</mat-error>
            </mat-form-field>
            <mat-form-field hideRequiredMarker>
              <span matPrefix> <i class="material-icons"> email </i> </span>
              <input matInput placeholder="Email" name="email" formControlName="email" />
              <mat-error
                *ngIf="registerForm.get('email').hasError('required') && (registerForm.controls['email'].touched || registerForm.controls['email'].dirty)">
                Email is required.</mat-error>
              <mat-error *ngIf="registerForm.get('email').hasError('email')">
                You must enter a valid email.</mat-error>
              <mat-error *ngIf="registerForm.get('email').hasError('emailExists')">
                Email already exists.</mat-error>
            </mat-form-field>

            <mat-form-field hideRequiredMarker>
              <span matPrefix> <i class="material-icons"> lock </i> </span>
              <input type="password" matInput formControlName="password" placeholder="Password" name="userPassword" />
              <mat-error
                *ngIf="registerForm.get('password').hasError('required') && (registerForm.get('password').dirty||registerForm.get('password').touched)">
                Password is required.</mat-error>
              <mat-error *ngIf="registerForm.get('password').hasError('minlength')">
                Password must be at least 6 characters.</mat-error>
            </mat-form-field>

            <button id="registerBtn" mat-raised-button color="primary" [disabled]="registerForm.invalid"
              type="submit">SING
              UP</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
