@import "../../../../variables";
.nav1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;
  background-color: $primary;
  color: white;
}
.user-info {
  margin-left: auto;
}
