<nav class="docs-navbar-header">
  <div>
    <a mat-button routerLink="/">LOGOa</a>
    <a mat-button routerLink="/create/list">List</a>
    <a mat-button routerLink="/create/setup">New</a>
  </div>

  <div class="user-info" *ngIf="user">
    <span>{{ user.firstName }} {{ user.lastName }}</span>
  </div>
</nav>
