<div *ngFor="let section of contentSection; index as i">
  <div [ngSwitch]="section.type">
    <h2 *ngSwitchCase="ContentSectionQuestionType.TEXT">
      {{ section.value }}
    </h2>
    <app-svg-presenter
      *ngSwitchCase="ContentSectionQuestionType.SVG"
      (answerEvent)="answerFromChild($event)"
      [svgPath]="section.filePath"
      [userAnswer]="userAnswer"
    >
    </app-svg-presenter>
    <app-sound-presenter
      *ngSwitchCase="ContentSectionQuestionType.SOUND"
      [soundPath]="section.value"
    >
    </app-sound-presenter>
    <app-code-presenter
      *ngSwitchCase="ContentSectionQuestionType.CODE"
      [isReadOnly]="'true'"
      [value]="section.value"
      [type]="section.type"
    >
    </app-code-presenter>
    <app-math-presenter
      *ngSwitchCase="ContentSectionQuestionType.MATH"
      [readOnlyValue]="section.value"
    >
    </app-math-presenter>
  </div>
</div>
