<form [formGroup]="formGroup" (ngSubmit)="submitClicked()">
  <!-- <mat-form-field> -->
  <!-- <wysiwyg-editor formControlName="question"></wysiwyg-editor>  -->
  <!-- <app-dynamic-editor formControlName="question"></app-dynamic-editor> -->
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Question</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-secional-question-editor
        formControlName="question"
      ></app-secional-question-editor>
      {{ formGroup.get("question").value | json }}
      <div *ngIf="formGroup.get('question').touched">
        <mat-error *ngIf="formGroup.get('question').errors?.required"
          >Question is required</mat-error
        >
      </div>
    </mat-card-content>
  </mat-card>
  <div formArrayName="answers">
    <mat-card *ngFor="let answer of answers.controls; let i = index">
      <div [formGroupName]="i">
        <mat-form-field>
          <input
            matInput
            placeholder="Answer {{ i + 1 }}"
            type="text"
            formControlName="value"
          />
        </mat-form-field>
        <mat-checkbox formControlName="isCorrect"
          >Is this answer correct?</mat-checkbox
        >
      </div>
      <button mat-stroked-button color="warn" (click)="removeAnswer(i)">
        Remove
      </button>
    </mat-card>
  </div>
</form>
