<!-- <button mat-fab color="primary" class="action-btn" (click)="play()">
    Do </button> -->
<div class="question-list">
    <!-- <ul>
        <li (click)="setQuestionIndex(index)" ngClass="{'ative':q.id===currectQuestion.id'}"
            *ngFor="let q of questionList;let index=index">
            {{index}}
        </li>
    </ul> -->
</div>
<button *ngFor="let button of actionButtons" mat-fab color="primary" class="action-btn"
    (click)="execFunction(button.action)" [ngStyle]="{'top.px': button.y,'left.px':button.x}">
    {{button.name}} </button>