////////////////////////////// SVG
.svg-wrapper {
    width: 100%;
    height: 100%;
    // move to style scss 
    // svg {
    //     width: 100%;
    //     height: 100%;
    //     overflow: visible;
    //     path {
    //         cursor: pointer;
    //     }
    //     path:hover {
    //         fill: #ddd;
    //     }
    // }
}
