<div *ngFor="let answer of currentQuestion.answers" (click)="answerClick(answer)">
    <div [ngSwitch]="answer.type">
        <button mat-button *ngSwitchCase='ContentSectionAnswerType.TEXT'> {{answer.value}}</button>
        <app-math-presenter *ngSwitchCase="ContentSectionAnswerType.MATH" [readOnlyValue]="answer.value">
        </app-math-presenter>
    </div>
</div>
