/* You can add global styles to this file, and also import other style files */
//@import '@angular/material/prebuilt-themes/purple-green.css';

// Define a theme.
$primary:#3f51b5;
$link-color: #3f51b5;
$link-hover-color: currentColor;
$link-hover-decoration: none;
$label-margin-bottom: 0;
$backgroung-color: #fbfbfb;
