<section *ngIf="exam">
  <h1>
    {{ exam.title }}
    <small> ({{ exam.questionCount }} questions) </small>
  </h1>
  <p>
    <mat-accordion>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title> Advance </mat-panel-title>
          <mat-panel-description> more options </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
          Repeat question every:
          <mat-button-toggle-group
            name="qestionRepeat"
            [(value)]="questionRepeat"
          >
            <mat-button-toggle color="primary" value="0"
              >NONE</mat-button-toggle
            >
            <mat-button-toggle color="primary" value="2">2nd</mat-button-toggle>
            <mat-button-toggle color="primary" value="3">3rd</mat-button-toggle>
            <mat-button-toggle color="primary" value="4">4th</mat-button-toggle>
            <mat-button-toggle color="primary" value="5">5th</mat-button-toggle>
          </mat-button-toggle-group>
        </p>
        <p>
          Randomize questions
          <mat-button-toggle-group
            name="qestionRepeat"
            [(value)]="randomizeQuestions"
          >
            <mat-button-toggle color="primary" value="0">No</mat-button-toggle>
            <mat-button-toggle color="primary" value="1">Yes</mat-button-toggle>
          </mat-button-toggle-group>
        </p>
      </mat-expansion-panel>
    </mat-accordion>
  </p>
  <p>
    <button
      mat-raised-button
      color="primary"
      class="me-3"
      (click)="onStartClick()"
    >
      Start
    </button>

    <button mat-raised-button color="primary" (click)="onStartFlexClick()">
      Button Free
    </button>
  </p>
</section>
