<section *ngIf="currentQuestion">
    <app-section-presenter  [contentSection]="currentQuestion.questionSections" (answerChangeEvent)="answerChange($event)">
    </app-section-presenter>
</section>

<section *ngIf="currentQuestion" [ngSwitch]="currentQuestion.questionType">
    <app-quiz-presenter *ngSwitchCase="AnswerType.QUIZ" [currentQuestion]="currentQuestion" (answerEvent)="answerChange($event)">
    </app-quiz-presenter>
    <!-- I don't see need of svg presenter - answer should be
        <app-svg-presenter *ngSwitchCase="'SVG'" [currentQuestion]="currentQuestion" (answerEvent)="answerChange($event)">
    </app-svg-presenter> -->
    <app-list-presenter *ngSwitchCase="AnswerType.LIST_DND || AnswerType.LIST_TEXT"
    [currentQuestion]="currentQuestion" (answerEvent)="answerChange($event)">
    </app-list-presenter>
    <app-code-presenter *ngSwitchCase="AnswerType.CODE" [value]="''" [type]="currentQuestion.answers[0].type" (answerEvent)="answerChange($event)">
    </app-code-presenter>
    <app-fill-blank-presenter *ngSwitchCase="AnswerType.FILL_BLANK" [currentQuestion]="currentQuestion" (answerEvent)="answerChange($event)">
    </app-fill-blank-presenter>
    <app-text-presenter *ngSwitchCase="AnswerType.TEXT" [currentQuestion]="currentQuestion" (answerEvent)="answerChange($event)">
    </app-text-presenter>
    <app-math-presenter *ngSwitchCase="AnswerType.MATH" [currentQuestion]="currentQuestion" (answerEvent)="answerChange($event)">
    </app-math-presenter>
    <div *ngSwitchDefault>
      Loading...
    </div>
</section>

