<section>
  <h4>Information</h4>
  <form [formGroup]="formGroup" (ngSubmit)="submitClicked()">
    <mat-form-field>
      <mat-label>Code language</mat-label>
      <mat-select formControlName="codeLanguage">
        <mat-option value="css">
          CSS
        </mat-option>
        <mat-option value="javascript">
          JavaScript
        </mat-option>
        <mat-option value="html">
          HTML
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Question" formControlName="question"></textarea>
    </mat-form-field>
    <div>
      <mat-checkbox formControlName="isTemplate">Need template</mat-checkbox>
    </div>

    <div *ngIf="showMonacoEditor===true">
      <section *ngIf="formGroup.get('isTemplate').value == true">
        <h4>Template</h4>
        <app-code-editor [model]="codeModelTemplate"></app-code-editor>
        <!--         
        <app-code-editor></app-code-editor> 
      -->
      </section>
      <section>
        <h4>Correct answer</h4>
        <app-code-editor [model]="codeModel"></app-code-editor>
        <!-- <app-code-editor></app-code-editor> -->
      </section>
    </div>
  </form>
</section>