.same-listener-wrapper {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  .same-listener {
    align-self: center;
    color: white;
    font-size: 2rem;
    border: 2px solid;
    border-radius: 50px;
    padding: 30px;
    font-weight: bolder;
    &.active {
      border-color: #cb2d2d;
      border-width: 4px;
      animation: pulse 1s;
      animation-name: pulse;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
    }
  }
}

.speech-text {
  text-align: center;
  padding: 20px;
}

h1 {
  color: #eaeaea;
  text-shadow: 1px 1px 2px #333, -1px -1px 2px #333;
}

p {
  color: #eaeaea;
  text-shadow: 1px 1px 2px #333, -1px -1px 2px #333;
  font-size: 15px;
}

button {
  background: transparent;
  backdrop-filter: blur(20px);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  color: #fff;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #129c27;
}
