<div [hidden]="step != 1">
  <section
    class="d-flex flex-row justify-content-center"
    style="width: 100%; padding: 20px"
  >
    <mat-card class="col-md-6 col-sm-8 col-xs-12">
      <h1>How you want to control?</h1>
      <hr />
      <p>
        <mat-checkbox
          [value]="screenGesture"
          (change)="screenGesture = $event.checked"
        >
          Screen Gesture
          <img
            src="/assets/gifs/interaction-touch_loop3.gif"
            alt=""
            style="height: 150px"
          />
        </mat-checkbox>
      </p>

      <hr />
      <p>
        <mat-checkbox
          [value]="screenClick"
          (change)="screenClick = $event.checked"
        >
          Screen Click
          <img src="/assets/gifs/click.gif" alt="" style="height: 150px" />
        </mat-checkbox>
      </p>
      <hr />
      <p *ngIf="isSpeechSuppoerByBrowser">
        <mat-checkbox
          [value]="voiceControl"
          (change)="voiceControl = $event.checked"
        >
          Voice control
          <img
            src="/assets/gifs/voicecontrol.gif"
            alt=""
            style="height: 150px"
          />
        </mat-checkbox>
      </p>
      <p
        *ngIf="!isSpeechSuppoerByBrowser"
        class="text-center"
        style="padding: 30px 0"
      >
        Voice control is not supported by your browser.
      </p>
      <p>
        <button
          mat-raised-button
          color="primary"
          style="width: 100%"
          (click)="continue()"
        >
          Continue
        </button>
      </p>
    </mat-card>
  </section>
</div>
<div [hidden]="step != 2">
  <section
    class="d-flex flex-row justify-content-center"
    style="width: 100%; padding: 20px"
  >
    <mat-card class="col-md-6 col-sm-8 col-xs-12">
      <span>
        Gesture for <strong>{{ buttonList[currentButtonIndex] }}</strong> action
      </span>
      <mat-form-field appearance="fill">
        <mat-label>Gesture list</mat-label>
        <mat-select
          (selectionChange)="onGestureChange($event)"
          [value]="selectedGesture"
        >
          <mat-option *ngFor="let option of gestureList" [value]="option">
            {{ option }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <section
        class="same-listener-wrapper"
        (swipeleft)="onGesture($event)"
        (swiperight)="onGesture($event)"
        (swipeup)="onGesture($event)"
        (swipedown)="onGesture($event)"
        (tap)="onGesture($event)"
      >
        <div class="same-listener pulse animated">
          {{ this.selectedGesture }}
        </div>
      </section>
    </mat-card>
  </section>
</div>
<div [hidden]="step != 3">
  <section>
    <div>Put {{ buttonList[currentButtonIndex] }} button</div>
  </section>

  <button
    *ngFor="let button of actionButtons"
    mat-fab
    color="primary"
    class="action-btn"
    [ngStyle]="{ 'top.px': button.y, 'left.px': button.x }"
  >
    {{ button.name }}
  </button>
</div>
<div [hidden]="step != 4">
  <section
    class="d-flex flex-row justify-content-center"
    style="width: 100%; padding: 20px"
  >
    <mat-card class="col-md-6 col-sm-8 col-xs-12">
      <h3 class="text-center">
        Voice command for
        <strong>{{ buttonList[currentButtonIndex] }}</strong> action
      </h3>
      <section class="same-listener-wrapper" (click)="onListen($event)">
        <div
          class="same-listener pulse animated"
          [class.active]="isVoiceRecorderActive"
        >
          <div *ngIf="speechText == null">
            <mat-icon aria-hidden="false">keyboard_voice</mat-icon>
          </div>
          <div *ngIf="speechText != null" class="">
            <div class="speech-text">{{ speechText }}</div>

            <button mat-button color="">next</button>
            <button mat-button color="default">
              <mat-icon aria-hidden="false">replay</mat-icon>
            </button>
          </div>
        </div>
      </section>
    </mat-card>
  </section>
  <button
    *ngFor="let button of actionButtons"
    mat-fab
    color="primary"
    class="action-btn"
    [ngStyle]="{ 'top.px': button.y, 'left.px': button.x }"
  >
    {{ button.name }}
  </button>
</div>
