<section class="wrapper">
  <mat-card>
    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-title>Create new test</mat-card-title>
      <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
    </mat-card-header>
    <mat-card-content>
      <p>
        With east way you can create awesome test and share with anyboyy you
        like to. You can make your test public so everybody can enjoy you greate
        work.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button [routerLink]="['setup']" mat-button>Create</button>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-title>Add question to test</mat-card-title>
      <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
    </mat-card-header>
    <mat-card-content>
      <p>
        You have greate new question that is greate addition to existing test.
        Go ahead and add it, owner of test will review it and make decision if
        it fit to test.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button [routerLink]="['add-question']" mat-button>Add question</button>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-title>Edit test</mat-card-title>
      <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
    </mat-card-header>
    <mat-card-content>
      <p>
        Is it time to make some change in your test. Not a problem, go to list
        of your test and choose test you want to edit.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button [routerLink]="['list']" mat-button>List</button>
    </mat-card-actions>
  </mat-card>
</section>
