<h2 mat-dialog-title>You are in progess</h2>
<mat-dialog-content class="mat-typography">
    Are you sure you want to leave?
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Leave</button>
</mat-dialog-actions>