img {
  cursor: pointer;
  height: 110px;
  border-radius: 20%;
}

h1 {
  color: #fff;
  font-size: 28px;
  font-family: "Times New Roman", Times, serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

a,
h3 {
  color: white;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 2px #333, -1px -1px 2px #333;
}

h3:hover {
  color: blue;
}
