<h1>What is your next challenge?</h1>
<div class="row">
  <ng-container *ngIf="exams != null; else spinner"></ng-container>
  <div
    class="col-lg-3 col-sm-6 col-md-4 col-lg-4 col-xl-3"
    *ngFor="let exam of exams"
  >
    <mat-card>
      <img
        [routerLink]="['/home/startup', exam.title, exam.id]"
        src="{{ exam.imagePath }}"
        alt="{{ exam.title }}"
        loading="lazy"
      />
      <a [routerLink]="['/home/startup', exam.title, exam.id]">
        <h3>{{ exam.title }}</h3>
      </a>
    </mat-card>
  </div>
</div>
<ng-template #spinner>
  <mat-spinner></mat-spinner>
</ng-template>
