
<div cdkDropListGroup>
    <div class="dnd-container">
        <div>Options</div>

        <div cdkDropList [cdkDropListData]="answersOptions" class="dnd-list" (cdkDropListDropped)="drop($event)">
            <div class="dnd-box" *ngFor="let item of answersOptions" cdkDrag>{{item}}</div>
        </div>
    </div>

    <div class="dnd-container">
        <div>Answers</div>

        <div cdkDropList [cdkDropListData]="answers" class="dnd-list" (cdkDropListDropped)="drop($event)">
            <div class="dnd-box" *ngFor="let item of answers" cdkDrag>{{item}}</div>
        </div>
    </div>
</div>
<div class="float-end">
    <button mat-button color="default" (click)="done()">Done</button>
</div>
