ul.question-number-wrapper {
  display: flex;
  padding-left: 0;
  overflow-x: auto;
  height: 70px;

  li {
    list-style: none;
    padding: 5px;

    .count-number {
      background-color: white;
      color: inherit;
    }
  }
}

.active {
  border-color: gold;
  border: 2px solid gold;
}

.buttons-wrapper {
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid;

  button {
    margin: 15px;
  }
}

.example-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field+.mat-form-field {
  margin-left: 8px;
}
.new-difficulty-level{
  cursor: pointer;
}
