<div class="d-flex">
  <ul class="question-number-wrapper">
    <li *ngFor="let q of questions; let i = index" (click)="setQuestion(i)">
      <button
        mat-mini-fab
        class="count-number"
        [ngClass]="{ active: questionIndex === i }"
      >
        {{ i + 1 }}
      </button>
    </li>
    <li (click)="addNewQuestionClick()">
      <button mat-mini-fab class="count-number">+</button>
    </li>
  </ul>
  <button
    (click)="toggleBuilderTemplateMode()"
    mat-mini-fab
    color="primary"
    class="ms-auto"
  >
    <mat-icon>menu</mat-icon>
  </button>
</div>
<section
  *ngIf="
    isQuickModeOn &&
    questionModel &&
    questionModel.questionSections &&
    questionModel.answerList
  "
>
  <h5>Quiz creator</h5>
  <mat-form-field class="w-100">
    <input
      matInput
      placeholder="Question"
      required
      [(ngModel)]="questionModel.questionSections[0].value"
      type="text"
    />
  </mat-form-field>
  <div class="d-flex justify-content-between">
    <mat-form-field>
      <input
        matInput
        placeholder="Answer"
        required
        [(ngModel)]="questionModel.contentSectionCorrectAnswers[0].value"
        type="text"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Wrong Answer"
        required
        [(ngModel)]="questionModel?.answerList[0]?.wrongAnswers[0].value"
        type="text"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Wrong Answer"
        required
        [(ngModel)]="questionModel?.answerList[0]?.wrongAnswers[1].value"
        type="text"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Wrong Answer"
        required
        [(ngModel)]="questionModel?.answerList[0]?.wrongAnswers[2].value"
        type="text"
      />
    </mat-form-field>
  </div>
</section>
<section *ngIf="!isQuickModeOn">
  <div class="example-action-buttons">
    <button mat-button (click)="accordion.openAll()">Expand All</button>
    <button mat-button (click)="accordion.closeAll()">Collapse All</button>
  </div>
  <ng-container *ngIf="questionModel">
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Question </mat-panel-title>
          <mat-panel-description>
            Edit Question
            <mat-icon>account_circle</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div
          *ngFor="
            let questionSection of questionModel.questionSections;
            let i = index
          "
        >
          <mat-form-field>
            <mat-label>Question type</mat-label>
            <mat-select
              [(ngModel)]="questionSection.type"
              name="quiz"
              [ngModelOptions]="{ standalone: true }"
            >
              <mat-option
                *ngFor="let item of ContentSectionQuestionType | enumToArray"
                [value]="item.index"
                >{{ item.name }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <ng-container [ngSwitch]="questionSection.type">
            <mat-form-field *ngSwitchCase="ContentSectionQuestionType.TEXT">
              <input
                matInput
                placeholder="Question"
                required
                [(ngModel)]="questionSection.value"
                type="text"
              />
            </mat-form-field>
            <mat-form-field *ngSwitchCase="ContentSectionQuestionType.CODE">
              <input
                matInput
                placeholder="Question"
                required
                [(ngModel)]="questionSection.value"
                type="text"
              />
            </mat-form-field>
          </ng-container>

          <button
            mat-button
            color="warn"
            (click)="removeQuestionSectionClick(i)"
          >
            Remove
          </button>
        </div>
        <button mat-button (click)="addQuestionSectionClick()">Add</button>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Correct Answer </mat-panel-title>
          <mat-panel-description>
            Edit correct answer
            <mat-icon>map</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div
          *ngFor="
            let correctAnswer of questionModel.contentSectionCorrectAnswers;
            let i = index
          "
        >
          <mat-form-field>
            <mat-label>Type</mat-label>
            <mat-select
              [(ngModel)]="correctAnswer.type"
              name="quiz"
              [ngModelOptions]="{ standalone: true }"
            >
              <mat-option
                *ngFor="let item of ContentSectionAnswerType | enumToArray"
                [value]="item.index"
                >{{ item.name }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              placeholder="Correct Answer"
              type="text"
              [(ngModel)]="correctAnswer.value"
            />
          </mat-form-field>
          <button
            mat-button
            color="warn"
            (click)="removeCorrectAnswersClick(i)"
          >
            Remove
          </button>
        </div>
        <button mat-button (click)="addCorrectAnswersClick()">Add</button>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Wrong Answer </mat-panel-title>
          <mat-panel-description>
            Edit wrong answer
            <mat-icon>date_range</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
          <h2>Question Level</h2>
          <div>
            <span *ngFor="let level of DifficultyLevel | enumToArray">
              <span
                *ngIf="isInArray(questionModel.answerList!, level.name)"
                (click)="addDifficultyLevel(level.name)"
                class="me-3 new-difficulty-level"
                >{{ level.name }}</span
              >
              <ng-container *ngFor="let answer of questionModel.answerList!">
                <button
                  *ngIf="level.name === DifficultyLevel[answer.difficultyLevel]"
                  (click)="changeDifficultyLevel(answer)"
                  [color]="
                    selectedDifficultyLevel === answer.difficultyLevel
                      ? 'primary'
                      : ''
                  "
                  mat-raised-button
                  class="me-3"
                >
                  {{ DifficultyLevel[answer.difficultyLevel] }}
                </button>
              </ng-container>
            </span>
          </div>
        </div>
        <ng-container *ngIf="answerList">
          <mat-form-field>
            <mat-label>Type</mat-label>
            <mat-select
              [(ngModel)]="answerList.answerType"
              [ngModelOptions]="{ standalone: true }"
            >
              <mat-option
                *ngFor="let item of AnswerType | enumToArray"
                [value]="item.index"
                >{{ item.name }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <button
            mat-button
            *ngIf="answerList.answerType == undefined"
            (click)="cancelDifficultyLevel()"
          >
            Cancel
          </button>
          <button
            mat-button
            *ngIf="answerList.answerType != undefined"
            (click)="removeDifficultyLevel()"
          >
            Remove level
          </button>
          <ng-container *ngIf="answerList.answerType === AnswerType.QUIZ">
            <div
              *ngFor="let wrongAnswer of answerList.wrongAnswers; let i = index"
            >
              <div>
                <mat-form-field>
                  <input
                    matInput
                    placeholder="Incorrect Answer"
                    type="text"
                    [(ngModel)]="wrongAnswer.value"
                  />
                </mat-form-field>
                <button (click)="removedWrongAnswer(i)" mat-button>
                  Remove
                </button>
              </div>
            </div>
            <button (click)="addWrongAnswer()" mat-button>Add</button>
          </ng-container>
        </ng-container>
      </mat-expansion-panel>
    </mat-accordion>
  </ng-container>
  <div>
    <!-- <div [ngSwitch]="selectedAnswerType"> -->
    <!--<app-quiz-create
        #quiz
        [model]="questionModel"
        [editData]="editData"
        *ngSwitchCase="AnswerType.QUIZ"
      ></app-quiz-create>
       <app-code
        #quiz
        [model]="questionModel"
        [editData]="editData"
        *ngSwitchCase="2"
      ></app-code>
      <app-list-create
        #quiz
        [model]="questionModel"
        [editData]="editData"
        *ngSwitchCase="3"
      ></app-list-create>
      <app-column-dadcreate
        #quiz
        [model]="questionModel"
        [editData]="editData"
        *ngSwitchCase="4"
      ></app-column-dadcreate> -->
    <!-- </div> -->
  </div>
</section>
<div class="buttons-wrapper">
  <button
    type="button"
    mat-raised-button
    color="accent"
    (click)="removeQuestionClick()"
  >
    Remove Question
  </button>
  <button type="button" mat-raised-button color="primary" (click)="saveClick()">
    Save update
  </button>
</div>
{{ questionModel | json }}
question {{ questions | json }}
