<h1>Crate new test/quiz</h1>
<ng-container *ngIf="form$ | async as form">
  <form
    [formGroup]="formGroup"
    [connectForm]="form"
    (ngSubmit)="setupClicked(form.id)"
  >
    <div>
      <mat-form-field>
        <input
          type="text"
          matInput
          placeholder="Name"
          formControlName="title"
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <textarea
          name=""
          id=""
          cols="30"
          rows="10"
          matInput
          placeholder="Description"
          formControlName="description"
        ></textarea>
      </mat-form-field>
    </div>
    <div>
      <div *ngIf="categoryExams">
        <mat-form-field>
          <mat-label>Category</mat-label>
          <mat-select formControlName="categoryExamId">
            <mat-option
              *ngFor="let category of categoryExams"
              [value]="category.id"
            >
              {{ category.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <app-files-library
      formControlName="fileModelId"
      isSelectable="true"
    ></app-files-library>
    <div>
      <button type="submit" mat-raised-button color="primary">Continue</button>
    </div>
  </form>
</ng-container>
