<section class="box">
  <app-uploader
    [requiredFileType]="'.csv,.json'"
    (uploadEvent)="uploadEvent($event)"
    [url]="'/api/FileExamBuilder'"
  ></app-uploader>
  <div *ngIf="message" class="alert alert-success">
    {{ message }}
  </div>
</section>
<app-files-library></app-files-library>
