@import "../../../../styles/variables";
nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;
  color: white;
  justify-content: space-between;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.user-info {
  margin-left: auto;
}

.logo {
  font-size: 40px;
  opacity: 0.8;
  color: #eaeaea;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
