<nav class="docs-navbar-header d-none d-sm-flex" class="nav">
  <div class="nav1">
    <a mat-button routerLink="/" class="logo">Quiz Game</a>
    <a mat-button routerLink="/builder" class="white">Workshop</a>
    <a mat-button routerLink="/trivia/add-user" class="white">Triva</a>
  </div>
  <div class="user-info" *ngIf="!user">
    <a mat-button routerLink="/settings" class="white">Settings</a>
    <a mat-button routerLink="/login" class="white">Log in</a>
    <a mat-button routerLink="/registration" class="white">Sign up</a>
  </div>
  <div class="user-info" *ngIf="user">
    <span>{{ user.firstName }} {{ user.lastName }}</span>
    <a mat-button (click)="logoutClick()" class="white">Log out</a>
  </div>
</nav>
