<span *ngFor="let char of charList ">
    <input *ngIf="char =='_'" type="text" maxlength="1">
    <span *ngIf="char ==' '" class="space"> </span>
    <span *ngIf="char !='_' && char !=' '" class="letter"> {{char}}</span>
</span>
<div>
    <button (click)="done()">Done</button>
</div>