input {
    border: none;
    border-bottom: 1px solid;
    max-width: 15px;
    margin-left: 3px;
}
.letter {
    margin-left: -1.5px;
    margin-right: -1.5px;
}
.space {
    margin-left: 3px;
    margin-right: 3px;
}
