<form [formGroup]="formGroup" (ngSubmit)="submitClicked()">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Question</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <app-secional-question-editor formControlName="question"></app-secional-question-editor>
            <div *ngIf="formGroup.get('question').touched">
                <mat-error *ngIf="formGroup.get('question').errors?.required">Question is required</mat-error>
            </div>
        </mat-card-content>
    </mat-card>

    <div formArrayName="answers">
        <mat-card *ngFor="let answer of answers.controls; let i=index">
            <div [formGroupName]="i">
                <mat-form-field>
                    <input matInput placeholder="Answer {{i+1}}" type="text" formControlName="value">
                </mat-form-field>
            </div>
            <button mat-stroked-button color="warn" (click)="removeAnswer(i)">Remove</button>

        </mat-card>
    </div>
    <section>
        <div>
            <mat-checkbox formControlName="makeQuestionHard">Case sensitive</mat-checkbox>
        </div>
        <div>
            <mat-checkbox formControlName="makeQuestionHard">Start with first letter</mat-checkbox>
        </div>
        <div>
            <mat-checkbox formControlName="makeQuestionHard">Follow order</mat-checkbox>
        </div>
        <div>
            <mat-checkbox formControlName="makeQuestionHard">How many correct to make question correct</mat-checkbox>
        </div>
    </section>

</form>