<mat-form-field class="example-form-field">
    <!-- <mat-label>Clearable input</mat-label> -->
    <input matInput type="text" [(ngModel)]="answer" autocomplete="off">
    <button mat-button *ngIf="answer" matSuffix mat-icon-button aria-label="Clear" (click)="answer=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div>
    <button (click)="done()">Done</button>
</div>