/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "styles/variables";
// @import "~bootstrap/scss/functions";
// @import "~bootstrap/scss/variables";
// @import "~bootstrap/scss/border-radius.scss";
// @import "~bootstrap/scss/mixins";
// @import "~bootstrap/scss/reboot";
// @import "~bootstrap/scss/grid";
// @import "~bootstrap/scss/containers";
// @import "~bootstrap/scss/_utilities";
// @import "~bootstrap/scss/_tables";
// @import "~bootstrap/scss/_list-group.scss";
//@import "~bootstrap/scss/alert.scss";
@import "~bootstrap/dist/css/bootstrap-grid.min.css";
@import "~bootstrap/dist/css/bootstrap-reboot.min.css";
@import "~bootstrap/dist/css/bootstrap-utilities.min.css";

@import "styles/reset";
@import "@angular/material/theming";
@import "styles/buttons";
html,
body {
  height: 100%;
}

body {
  // background: #303030;
  font-family: Roboto, "Helvetica Neue Light", "Helvetica Neue", Helvetica,
    Arial, "Lucida Grande", sans-serif;
  margin: 0;
  background-image: url(paper1.jpg);
  // min-height: 100vh;
  // background-size: cover;
  background-position: center;
}

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.flexible-btn {
  position: absolute;
}

.action-btn {
  position: absolute !important;
}

// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());`
@include mat.all-legacy-component-typographies();
@include mat.legacy-core();

$app-primary: mat.define-palette(mat.$indigo-palette);
$app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$app-theme: mat.define-light-theme($app-primary, $app-accent);

@mixin mix-app-theme($app-theme) {
  $primary: map-get($app-theme, primary);
  $accent: map-get($app-theme, accent);

  .mat-button-toggle {
    background-color: mat.get-color-from-palette($primary);
    color: mat.get-color-from-palette($primary, default-contrast);
  }

  .mat-button-toggle-checked {
    background-color: mat.get-color-from-palette($accent) !important;
    color: mat.get-color-from-palette($accent, default-contrast) !important;
  }
}

// Include the mixin
@include mix-app-theme($app-theme);

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation-name: pulse;
  animation-timing-function: ease-in-out;
}

svg {
  width: 100%;
  height: 100%;
  overflow: visible;

  display: block;

  path {
    cursor: pointer;
  }

  path:hover {
    fill: #ddd;
  }
}

mat-card {
  margin-bottom: 1rem;
  overflow: hidden;

  img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
  }
}

.alert-danger {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}

.alert {
  position: relative;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-success {
  color: #0f5132;
  background-color: #d1e7dd;
  border-color: #badbcc;
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.box {
  @extend .box-shadow;
  border-radius: 0.3rem;
  background-color: $backgroung-color;
  border: 1px solid #dee2e6;
  display: flex;
  flex-direction: column;
  padding: 1.4rem 1rem 1.6rem 1rem;
  margin-bottom: 1rem;

  &.box-column {
    flex-direction: column;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.w-100 {
  width: 100%;
}

h1 {
  display: flex;

  small {
    font-size: 65%;
    padding-left: 0.5rem;
  }
}
