<h1>Crate new test/quiz</h1>
<form [formGroup]="formGroup" (ngSubmit)="setupClicked()">
    <div>
        <mat-form-field>
            <input type="text" matInput placeholder="Name" formControlName="name" />
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <textarea name="" id="" cols="30" rows="10" matInput placeholder="Description"
                formControlName="description"></textarea>
        </mat-form-field>
    </div>
    <div *ngIf="testCategorysIds">
        <mat-form-field>
            <mat-label>Category</mat-label>
            <mat-select formControlName="testCategoryId">
                <mat-option  *ngFor="let category of testCategorysIds"
                    [value]="category.id">
                    {{category.code}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <!-- <div>

        <mat-tree [dataSource]="nestedDataSource" [treeControl]="nestedTreeControl" class="example-tree">
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
                <li class="mat-tree-node">
                    <button type="button" mat-icon-button disabled></button>
                    <mat-checkbox (change)="addToList(node.id)"> {{node.code}}</mat-checkbox>
                </li>
            </mat-tree-node>
        </mat-tree>
    </div> -->
    <div>
        <button type="submit" mat-raised-button color="primary">Continue</button>
    </div>
</form>