<mat-card *ngIf="initInfoShow===true">
  <h1>Edit test/quiz</h1>
  <form [formGroup]="formGroup" (ngSubmit)="submitClicked()" *ngIf="formGroup !=null">
    <div>
      <mat-form-field>
        <input type="text" matInput placeholder="Name" formControlName="name">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <textarea name="" id="" cols="30" rows="10" matInput placeholder="Description"
          formControlName="description"></textarea>
      </mat-form-field>
    </div>
    <div>
      <!-- TO DO IT - I think you have to use database rules ex https://firebase.google.com/docs/firestore/solutions/role-based-access
          <mat-radio-group formControlName="isPublic">
          <mat-radio-button value="true">
            Public
          </mat-radio-button>
          <mat-radio-button value="false">
            Private
          </mat-radio-button>
        </mat-radio-group> -->
    </div>
    <div>
      <button type="submit" mat-raised-button color="primary">Continue</button>
    </div>
  </form>
</mat-card>

<mat-card *ngIf="formGroup !=null && initInfoShow===false">
  <app-question-wrapper [questions]="test.questions" (questionsValueChange)="questionsDone($event)">
  </app-question-wrapper>
</mat-card>

<mat-card *ngIf="reviewShow === true">
    <h1>Review your</h1>
    <section class="instance-properties">
      <h2>Review Information</h2>
    </section>
    <section class="instance-properties">
      <h2>Questions</h2>
      <div>
        <mat-accordion>
          <mat-expansion-panel *ngFor="let question of submitData.questions">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{question.questionText}}
              </mat-panel-title>
              <!-- <mat-panel-description>
                Type your name and age
              </mat-panel-description> -->
            </mat-expansion-panel-header>
            <div *ngFor="let answer of question.answer">
              {{answer.value}}
            </div>
  
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </section>
  
    <button type="button" mat-raised-button color="primary" (click)="saveTestClick()">Update test</button>
  </mat-card>