.list-group-item {
  cursor: pointer;
}
mat-slider {
  width: 100%;
}
body {
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
  padding-bottom: 10px;
  margin-top: 60px;
}
.mat-expansion-panel {
  background: transparent;
}
.color {
  color: #eaeaea;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 20px;
  box-shadow: none;
}

.btn {
  box-shadow: none;
}

.white {
  color: #eaeaea;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 20px;
  box-shadow: none;
}
ul,
label {
  color: #eaeaea;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 15px;
}
