<body>
  <h1>Settings</h1>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title class="color" class="white"> Voice </mat-panel-title>
      <mat-panel-description class="color">
        Settings for voice configuration
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div style="max-height: 300px; overflow-y: scroll">
      <ul class="list-group">
        <li
          *ngFor="let voice of voices"
          class="list-group-item"
          (click)="voiceClick(voice)"
        >
          {{ voice.name }}
        </li>
      </ul>
    </div>
    <div>
      <label for="">Rate</label>
      <mat-slider
        [(value)]="voice.rate"
        step="0.1"
        tickInterval="0.1"
        min="0"
        [thumbLabel]="1"
        max="10"
      ></mat-slider>
    </div>
    <div>
      <label for="">Pitch</label>
      <mat-slider
        [(value)]="voice.pitch"
        step="0.1"
        tickInterval="0.1"
        min="0"
        max="10"
      ></mat-slider>
    </div>
    <button mat-button color="primary" (click)="saveVoice()">Save</button>
  </mat-expansion-panel>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title class="color"> Buttons </mat-panel-title>
      <mat-panel-description class="color">
        Config buttons position
      </mat-panel-description>
    </mat-expansion-panel-header>

    <button mat-button [routerLink]="['/home/calibrate']">Reset buttons</button>
  </mat-expansion-panel>
</body>
